.nav_bar{
    width: 372px;
    background-color: #2980b9;
}

.logo{
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b93e1;
}

.nav_title{
    justify-content: center;
    align-items: center;
    background-color: #1b93e1;
}

.nav_bar .nav_point{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0 2px 55px;
}